{% extends "index_centre.html" %}
{% block content %}
<h1>Dades Alumne</h1>

<table border="1">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Apellido 1</th>
            <th>Apellido 2</th>
            <th>Correu</th>
            <th>Curs</th>
            <th>Mòduls Matriculats</th>
            <th>Accions</th>
        </tr>
    </thead>
    <tbody>
        {% for alumn in alumnos %}
        <tr>
            <td>{{ alumn.nom }}</td>
            <td>{{ alumn.apellido1 }}</td>
            <td>{{ alumn.apellido2 }}</td>
            <td>{{ alumn.correu }}</td>
            <td>{{ alumn.curs }}</td>
            <td>{{ alumn.modulsMatriculats }}</td>
            <td>
                <a href="{% url 'alumne_detall' alumn.id %}">Ver más</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}