{% extends "index_centre.html" %}

{% block content %}
    <h1>Detall de l'Alumne</h1>

    <table border="1">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Apellido 1</th>
            <th>Apellido 2</th>
            <th>Correu</th>
            <th>Curs</th>
            <th>Mòduls Matriculats</th>
        </tr>
        <tr>
            <td>{{ alumn.id }}</td>
            <td>{{ alumn.nom }}</td>
            <td>{{ alumn.apellido1 }}</td>
            <td>{{ alumn.apellido2 }}</td>
            <td>{{ alumn.correu }}</td>
            <td>{{ alumn.curs }}</td>
            <td>{{ alumn.modulsMatriculats }}</td>
        </tr>
    </table>

    <br>
    <a href="{% url 'alumne' %}">Volver a la lista</a>
{% endblock %}
